html {
   overflow: hidden;
   height: 100%
}
body { 
   background: black;
   background-image: url(https://teknoradio.org/player/TRlogo-tr.png);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}
.mejs-audio {
}
.mejs-controls {
   top: 0!important;
   padding: 3px 0 0 0;
   height: 2em!important;
   background: none!important; 
   border-top: 2em!important;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
   background: #5a1a7a!important;
}
.mejs-controls .mejs-time-rail .mejs-time-float {
   top: 2.5em!important;
}
.mejs-controls .mejs-time-rail .mejs-time-float .mejs-time-float-corner {
   display: none!important;
}
.mejs li {
   font-size: 0.8em!important;
   line-height: 1em!important;
   color: #ccddff;
}
.mejs-playlist {
   width: 430px!important;
   height: 265px!important;
}
.popupButton {
   display: inline-block!important;
   top: 0px;
   left: 410px;
   position: absolute;
}
.popupButton button {
   overflow: hidden;
   width: 34px!important;
   height: 30px!important;
   padding: 0;
   margin: 0;
   border: 0;
   background: url(popup.png)!important;
   cursor: pointer;
}
.playerDetached {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   text-align: center;
   font-size: small;
   font-family: sans-serif;
   color: #cacaca;
}
.ajaxLoader {
   width: 16px;
   height: 16px;
   display: inline-block;
   background: url(ajax-loader.gif);
}
noscript {
   color: white;
   font-family: sans-serif;
}
